html body{
  background: #C19A6B
;
}

.Title_Bar{
  background: green;
  text-align: center;
  color: white;
  font-size: 20px;
}

main{
  width: 1700px;
  margin-top: 15px;
  margin-left: 15px;
}

.Map_Region {
  text-align: center;
  border: 5px solid black;
  display: inline-block;
  vertical-align: top;
}

.Unit_Leader{
  text-align: center;
}

.Unit_Breakdown{
  margin-left: 70px;
}

.Unit_Breakdown li{
  margin-bottom:10px;
}

.Unit_Breakdown li:hover{
  cursor: pointer;
}


.Unit_Region{
  height: 800px;
  vertical-align: top;
  width: 400px;
  margin-right: auto;
  margin-left: 300px;
  text-align: left;
  font-size:x-large;;
  border: 5px solid black;
  display: inline-block;
}

.unit_breakdown{
  margin-left: 80px;
}



#Google_Map {
  width: 750px;
  height: 750px;
  margin: 10px;
}
