<%include ../Head.ejs%>
<%include ../Header.ejs%>
<div>
    <form action = '/location' method = 'post'>
        Latitude: <input type="text" name="lat"><br>
        Longitude: <input type="text" name="long"><br>
        <input type="submit" value="Submit">
    </form>
</div>
<%include ../Footer.ejs%>
