<%include ../Head.ejs%>
<%include ../Header.ejs%>
<main>
    <div class="Map_Region">
        <div class="Map_Header">
            <h2>Current Map Location</h2>
        </div>
        <div Id="Google_Map"></div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&callback=initialize"></script>
        <script src="javascripts/index.js"></script>
    </div>
    <div class="Unit_Region">
        <h4 class="Unit_Leader">Leader</h4>
        <div class="Unit_Breakdown">
            <div class="Parent_Unit">
                <p>Higher Unit Name</p>
            </div>
            <div class="Child_Units">
                <ul>
                    <li>Lower Unit 1</li>
                    <li>Lower Unit 2</li>
                    <li>Lower Unit 3</li>
                    <li>Lower Unit 4</li>
                </ul>
            </div>
        </div>
    </div>
</main>
<%include ../Footer.ejs%>