<%include ../Head.ejs%>
<%include ../Header.ejs%>
<main>
    <ul class="Menu_Items">
        <li>Home</li>
    </ul>
    <div class="Map_Region">
        <div class="Map_Header">
            <h2>Current Map Location</h2>
            <h6>Try it yourself at: 10.131.6.208:8080/location</h6>
        </div>
        <div Id="Google_Map"></div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&callback=initialize"></script>
        <script src="javascripts/index.js"></script>
    </div>
</main>
<%include ../Footer.ejs%>