<%include ../Head.ejs%>
<%include ../Header.ejs%>
<div>
    <form action = '/units' method = 'post'>
        Unit Name: <input type="text" name="unitName"><br>
        Unit Members: <input type="text" name="leaders"><br>
        Unit Members: <input type="text" name="leaders"><br>
        Command Unit: <input type="text" name="parentUnitName"><br>
        <input type="submit" value="Submit">
    </form>
</div>
<script>
</script>
<%include ../Footer.ejs%>