<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title><%=title%></title>
    <meta name="Senior Project" >
    <meta name="Brandon Runyan" content="SitePoint">
    <link rel="stylesheet" href="stylesheets/styles.css">
</head>
<body>

